body{
    background: greenyellow;
    
}
h2{
    background: lightgoldenrodyellow;
    padding: 7px;
    
}
#show_sketch{
    float: right;
    font-family: monospace;
}
canvas{
    border: 2px solid white;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}
@keyframes example{
    from{box-shadow: 2px 2px 40px gray;}
    to{box-shadow: 2px 2px 40px white;}
}
bino{
    font-size: 30px;
    color: red;
}
#sc{
    float: left;
    font-size: 40px;
}
#timer{
    float: right;
    font-size: 40;
}